<% content_for :content do %>
  <p>
    <strong>Company:</strong>
    <%= @marker.company_id %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @marker.image_url %>
  </p>
<% end %>
<%= render template: 'company/frame' %>
