<% content_for :content do %>
    <div class="jumbotron">
      <%= image_tag "head.png", alt: 'サガスコープ' %>
      <h1><%= current_staff.company.name %>様 管理画面</h1>
      <%= image_tag current_staff.company.character.thumbnail.url %>
    </div>
<% end %>
<%= render template: 'company/frame' %>
