<div class="col-md-3">
  <div class="list-group">
    <a href="/admin/admins/" class="list-group-item">管理者</a>
    <a href="/admin/companies/" class="list-group-item">企業</a>
    <a href="/admin/staffs/" class="list-group-item">スタッフ</a>
    <a href="/admin/markers" class="list-group-item">マーカー</a>
    <a href="/admin/characters/" class="list-group-item">キャラクター</a>
    <a href="/admin/advertisings/" class="list-group-item">広告</a>
  </div>
</div>
