<% content_for :content do %>
  <%= render partial: 'company/character', locals: {company: current_staff.company} %>
  <div class="container-fluid" align="right" style="margin-bottom: 20px;">
    <%= link_to '広告を編集', edit_company_advertising_path(@advertising), class: 'btn btn-primary' %>
  </div>
  <div id="map" style="height: 400px; margin-top: 50px;"></div>
  <table class="table">
    <thead>
      <tr>
        <th>クリックされた日時</th>
        <th>場所</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
<% end %>
<%= render template: 'company/frame' %>
