<div class="col-md-3">
  <div class="list-group">
    <%= link_to 'スタッフ', company_staffs_path, {class: 'list-group-item'} %>
    <%= link_to 'マーカー管理', company_markers_path, {class: 'list-group-item'} %>
  </div>
</div>
