<%= render 'company/header' %>
<div class="container content">
  <div class="row">
    <%= render 'company/sidebar' %>
    <div class="col-md-9">
      <% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      <% end %>
      <%= yield :content %>
    </div>
  </div>
</div>